.fundomenu {
    width: 100%;
    background-color: rgb(255, 0, 0);
    height: 100vh;
    z-index: 2;
    
}
.no-scroll {
    overflow: hidden;
    height: 100vh; /* Opcional: ajuda a garantir que o body não tente rolar */
}
.imgfun {
    object-fit: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 0;
    filter: brightness(1) saturate(1.1) opacity(1.0) contrast(1.1);
}
.loading {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    
}
.menu{
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    
    height: auto;
    
    background-color: rgb(31, 31, 31);
    && header {
        
        padding: 40px;
        gap: 800px;
        display: flex;
        align-items: center;
        justify-content: start;
        width: 1400px;
        height: 90px;
        border-radius: 0px 0px 15px 15px;
        background-color: rgba(0, 0, 0, 0.795);
    
    backdrop-filter: blur(30px) saturate(160%);
    -webkit-backdrop-filter: blur(30px) saturate(190%);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.5);
    && nav {
        align-items: center;
        justify-content: center;
        display: flex;
        gap: 4px;
        width: 80%;
        height: 30px;
        background-color: rgba(233, 231, 231, 0);
        && div {
            display: flex;
            border-radius: 1px;
            
            align-items: center;
            justify-content: center;
            cursor: pointer;
            width: 100%;
            height: 100%;
            font-size: 20px;
            color: rgb(255, 255, 255);
            background-color: rgba(255, 255, 255, 0.096);
            filter: blur(2%);
        }
    }
    }
}
.categoria {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    border-radius:30px;
    position: fixed;
    top: 50%;
    left: -400px;
    transform: translateY(-48%);
    transition: all 0.4s ease-in-out;
    z-index: 2;
    width: 310px;
    height: 80%;
    border-radius:15px;
        background-color: rgba(0, 0, 0, 0.76);
    
    backdrop-filter: blur(30px) saturate(160%);
    -webkit-backdrop-filter: blur(30px) saturate(190%);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.5);
    && p {
        margin-top: 10px;
        font-size: 30px;
    }
    
}
.MenuPerfil {
    
    padding: 10px;
    opacity: 0;
    pointer-events: none;
    border-radius:30px;
    position: fixed;
    top: 50%;
    right: -400px;
    transform: translateY(-48%);
    transition: all 0.4s ease-in-out;
    z-index: 2;
    width: 290px;
    height: 80%;
    border-radius:15px 0px 0px 15px;
        background-color: rgba(0, 0, 0, 0.568);
    
    backdrop-filter: blur(30px) saturate(160%);
    -webkit-backdrop-filter: blur(30px) saturate(190%);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.5);
}
.ativoMenu {
    opacity: 1;
    pointer-events: all;
    right: 0px;
}
.ativo {
    
    opacity: 1;
    pointer-events: all;
    left: 20px;
}
.logo {
    width: 45px;
    height: auto;
    object-fit: cover;
    z-index: 1;
    
}
.logocontent {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    && p {
        position: relative;
        
        font-size: 30px;

    }
}

.box{padding: 10px;
    
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 60px;
    gap: 5px;
    width: 1200px;
    min-height: auto;
   
    display: grid;
    grid-template-columns: repeat(3, 1fr);
z-index: 1;

}
.cardwall {
    cursor: pointer;
    flex-direction: column;
    overflow: hidden;
    border-radius: 5px;
    height: 200px;
    display: flex;
    align-items: start;
    background-color: rgb(34, 34, 34);
    z-index: 1;
    && p {
        font-size: 15px;
    }
}
.cardimg {
    z-index: 1;
    width: 100%;
    object-fit: cover;
    height: 100%;
    transition: height 0.4s ease-in-out;
}
.cardimg:hover{
    height: 85%;
}
.organiz {
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: rgb(22, 22, 22);
    display: flex;
    align-items: center;
    padding: 5px;
    
}
.carregarmais {
    position: fixed;
    z-index: 1;
    width: 100%;
    border-radius: 5px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.795);
    
    backdrop-filter: blur(30px) saturate(160%);
    -webkit-backdrop-filter: blur(30px) saturate(190%);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.5);
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: none;
    font-size: 20px;
}
.desativarbt {
    color: red;
}


















.conteinercaregoria {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    margin-top: 5px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}
.cardcategoria {
    
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 55px;
    background-color: rgba(255, 255, 255, 0.096);
    
    color: rgb(255, 255, 255);
    && p {
        margin-top: -2px;
        font-size: 25px;
        cursor: pointer;
    }
}


























.fotoename {
    padding: 5px;
    gap: px;
    
    align-items: center;
    display: flex;
    width: 90%;
    height: 100px;
    background-color: rgba(8, 8, 8, 0);
    border-radius:15px 0px 0px 0px ;
}
.fotocircle {
    
    cursor: pointer;
    overflow: hidden;
    width: 80px;
    height: 90%;
    border-radius: 50%;
    background-color: rgb(27, 27, 27);
    && img {
        object-fit: cover;
        width: 100%;
    }
}
.fotocircle:hover .editicon{
    display: flex;
    
}
.editicon {
    transition: 1s ease-in-out;
    
    position: absolute;
    left: 80px;
    z-index: 10000;
    display: none;
}
.EditIconConteiner {
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.7s ease-in;
    box-shadow: rgba(0, 0, 0, 0.712) 0px 10px 20px 20px;
    position: fixed;
    width: 0px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.973);
    top: 50%;
    border-radius: 10px;
    left: 60%;
    z-index: 1000;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
}
.gird {
    position: relative;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
    gap: 30px;
    background-color: rgba(0, 0, 255, 0);
    display: grid;
    
    grid-template-columns: repeat(5, 0.5fr);
}
.iconsselect {
    overflow: hidden;
    
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0);
    && img {
        width: 100%;
        object-fit: cover;
    }
}
.salvaricon {
    
    width: 100%;
    height: 100%;
    background-color: rgba(68, 18, 3, 0);
    display: flex;
    align-items: end;
    padding: 10px;
    justify-content: end;
    && button {
        width: 50%;
        height: 40px;
        border: none;
        font-size: 20px;
        cursor: pointer;
        transition: all 0.6s ease-in-out;
        

    }&& button:hover{
        width: 51%;
        background-color: rgb(58, 0, 0);
        color: white;
        
    }
    
}
.iconative {
    opacity: 1;
    pointer-events: all;
    width: 45%;
}
.nomeuser {
    margin: 0 auto;
    color: rgb(255, 255, 255);
    font-size: 20px;
}


.upload {
    
    width: 100%;
    height: 35px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.781);
    cursor: pointer;
    
}
.uploadadmin{
    top: 3000px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    position: fixed;
    width: auto;
    height: 100vh;
    
    opacity: 0;
    pointer-events: none;
    
    

}
.blocoup {
    border-radius: 5px;
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
    height: 700px;
    background-color: rgba(0, 0, 0, 0.973);
    box-shadow: rgba(0, 0, 0, 0.986) 0px 1px 100px 40px;
    
}
.contentclose {
    width: 100%;
    height: 40px;
    background-color: rgba(223, 4, 4, 0);
    display: flex;
    align-items: center;
    justify-content: end;
    
    
}
.close {
    width: 40px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.close:hover{
    
    filter: drop-shadow(0px 0px 7px rgba(255, 255, 255, 0.568));
}
.ativoupload {
    top: 0;
    opacity: 1;
    pointer-events: all;
    animation: zoom-in 0.5s ease-in-out forwards;
   
}






@keyframes zoom-in {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
  }
}