.fundomenu {
    width: 100%;
    background-color: rgb(255, 0, 0);
    height: 100vh;
    z-index: 2;
    
}
.no-scroll {
    overflow: hidden;
    height: 100vh; /* Opcional: ajuda a garantir que o body não tente rolar */
}
.imgfun {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 0;
    filter: brightness(0.8) saturate(1.2) opacity(1.1) contrast(1.2);
}
.loading {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    
}
.menu{
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    
    height: auto;
    
    background-color: rgb(31, 31, 31);
    && header {
        
        padding: 40px;
        gap: 800px;
        display: flex;
        align-items: center;
        justify-content: start;
        width: 1400px;
        height: 90px;
        border-radius: 0px 0px 15px 15px;
        background-color: rgba(0, 0, 0, 0.795);
    
    backdrop-filter: blur(30px) saturate(160%);
    -webkit-backdrop-filter: blur(30px) saturate(190%);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.5);
    && nav {
        align-items: center;
        justify-content: center;
        display: flex;
        gap: 4px;
        width: 80%;
        height: 30px;
        background-color: rgba(233, 231, 231, 0);
        && div {
            display: flex;
            border-radius: 1px;
            
            align-items: center;
            justify-content: center;
            cursor: pointer;
            width: 100%;
            height: 100%;
            font-size: 20px;
            color: rgb(255, 255, 255);
            background-color: rgba(255, 255, 255, 0.096);
            filter: blur(2%);
        }
    }
    }
}
.categoria {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    border-radius:30px;
    position: fixed;
    top: 50%;
    left: -400px;
    transform: translateY(-50%);
    transition: all 0.4s ease-in-out;
    z-index: 2;
    width: 270px;
    height: 69%;
    border-radius:15px;
        background-color: rgba(0, 0, 0, 0.76);
    
    backdrop-filter: blur(30px) saturate(160%);
    -webkit-backdrop-filter: blur(30px) saturate(190%);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.5);
    && p {
        margin-top: 10px;
        font-size: 30px;
    }
    
}
.MenuPerfil {
    padding: 10px;
    opacity: 0;
    pointer-events: none;
    border-radius:30px;
    position: fixed;
    top: 50%;
    right: -400px;
    transform: translateY(-50%);
    transition: all 0.4s ease-in-out;
    z-index: 2;
    width: 290px;
    height: 80%;
    border-radius:15px 0px 0px 15px;
        background-color: rgba(0, 0, 0, 0.568);
    
    backdrop-filter: blur(30px) saturate(160%);
    -webkit-backdrop-filter: blur(30px) saturate(190%);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.5);
}
.ativoMenu {
    opacity: 1;
    pointer-events: all;
    right: 0px;
}
.ativo {
    
    opacity: 1;
    pointer-events: all;
    left: 40px;
}
.logo {
    width: 45px;
    height: auto;
    object-fit: cover;
    z-index: 1;
    
}
.logocontent {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    && p {
        position: relative;
        
        font-size: 30px;

    }
}

.box{
    margin-top: 60px;
    gap: 5px;
    width: 1200px;
    min-height: auto;
    background-color: rgba(20, 155, 54, 0);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
z-index: 1;
}
.cardwall {
    cursor: pointer;
    flex-direction: column;
    overflow: hidden;
    border-radius: 5px;
    height: 200px;
    display: flex;
    align-items: start;
    background-color: rgb(34, 34, 34);
    z-index: 1;
    && p {
        font-size: 15px;
    }
}
.cardimg {
    z-index: 1;
    width: 100%;
    object-fit: cover;
    height: 100%;
    transition: height 0.4s ease-in-out;
}
.cardimg:hover{
    height: 85%;
}
.organiz {
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: rgb(22, 22, 22);
    display: flex;
    align-items: center;
    padding: 5px;
    
}
.carregarmais {
    z-index: 1;
    width: 100%;
    height: 60px;
    background-color: rgba(255, 255, 2, 0);
    margin-top: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: none;
    font-size: 20px;
}
.desativarbt {
    color: red;
}


















.conteinercaregoria {
    margin-top: 20px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}
.cardcategoria {
    
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 55px;
    border-top: 1px solid rgb(255, 255, 255);
    
    color: rgb(175, 175, 175);
    && p {
        margin-top: -2px;
        font-size: 25px;
        cursor: pointer;
    }
}


























.fotoename {
    padding: 5px;
    gap: px;
    
    align-items: center;
    display: flex;
    width: 90%;
    height: 100px;
    background-color: rgba(8, 8, 8, 0);
    border-radius:15px 0px 0px 0px ;
}
.fotocircle {
    cursor: pointer;
    overflow: hidden;
    width: 80px;
    height: 90%;
    border-radius: 50%;
    background-color: rgb(27, 27, 27);
    && img {
        object-fit: cover;
        width: 100%;
    }
}
.nomeuser {
    margin: 0 auto;
    color: rgb(255, 255, 255);
    font-size: 20px;
}