* {
  

/* Remove qualquer outro botão nativo de limpar ou visualizar em outros navegadores */
  
  font-family: "Smooch Sans", sans-serif;
  font-optical-sizing: auto;
  
  box-sizing: border-box;
  margin: 0;
  padding: 0;
    -webkit-user-drag: none;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}
html, body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    overscroll-behavior: none; /* impede o "bounce" elástico nas bordas */
}
body {
  
  font-family: sans-serif; /* Optional: good practice */
  background-color: black;
}
